version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: infra/docker/api.Dockerfile
    env_file:
      - .env
    ports:
      - "3001:3001"
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: quotaguard
      POSTGRES_USER: quotaguard
      POSTGRES_PASSWORD: quotaguard
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./infra/docker/postgres-init.sql:/docker-entrypoint-initdb.d/postgres-init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U quotaguard -d quotaguard"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  pg_data:
